- set_meta_title

.ui.mini.modal#new-bookmark-modal
  .header
    Enter an URL
  .content
    = form_for @new_bookmark, url: bookmarks_url_path do |f|
      .ui.fluid.input
        = f.text_field :url, required: true, placeholder: "Put an URL of the website"
      = f.submit "Next", class: "ui fluid button positive", style: "margin-top: 10px;"

= render "shared/alert"
= render "shared/notice"

%h2.ui.dividing.header.title
  = search_title || "Bookmarks (#{@user.bookmark_counts})"
  %button#add-bookmark.positive.ui.right.floated.small.button
    Add a new bookmark
  = link_to bookmarks_path({ vl: @is_listview.present? ? nil : 1 }) do
    %i.right.floated.fa.fa-th-list.view-switcher
- if @bookmarks.present?
  - if @is_listview
    - cache("#{current_user.id}/bookmarks/list", skip_digest: true) do
      = render "bookmarks/shared/list_view", bookmarks: @bookmarks
  - else
    - cache("#{current_user.id}/bookmarks/card", skip_digest: true) do
      = render "bookmarks/shared/card_view", bookmarks: @bookmarks
- else
  .ui.cube.shape.nobookmark-placeholder
    .sides
      .active.side
        .content
          .center
            Looks like nothing here :(
