.ui.mini.modal#new-bookmark-modal
  .header
    Enter an URL
  .content
    = form_for @new_bookmark, url: bookmarks_url_path do |f|
      .ui.fluid.input
        = f.text_field :url, required: true, placeholder: "Put an URL of the website"
      = f.submit "Next", class: "ui fluid button positive", style: "margin-top: 10px;"

= render "shared/alert"
= render "shared/notice"
%h2.ui.dividing.header.title
  = search_title || "Bookmarks (#{current_user.bookmark_counts})"
  %button#add-bookmark.positive.ui.right.floated.small.button
    Add a new bookmark
- if @bookmarks.present?
  .ui.four.stackable.cards.bookmark-list
    - @bookmarks.each do |bookmark|
      = render "bookmarks/shared/card", bookmark: bookmark
- else
  .ui.cube.shape.nobookmark-placeholder
    .sides
      .active.side
        .content
          .center
            Looks like nothing here :(
