<%= render "shared/errors", resource: @bookmark %>

<%= form_for @bookmark, html: { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, required: true, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, required: true, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.submit 'Submit', class: 'ui primary button' %>
    <%= link_to 'Cancel', bookmarks_path, { class: 'ui button' } %>
  </div>
<% end %>
