.ui.top.fied.menu.transition.hidden

.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        = link_to root_path, class: "header item" do
          %img.logo{src: asset_path("logo_small.png") }/
          Slip.it
          %sup
            %sup beta
        .right.item.small
          = link_to "Log in", sign_in_path, class: "ui inverted button"
    .ui.text.container.head
      %h2.ui.inverted.header
        Your online bookmarks "never" be social.
      %p
        100% private, simple online bookmarking
        service exactly for you
      = link_to sign_in_path, class: "ui huge teal button" do
        Get Started
    = image_tag asset_path("background.png"), class: "background image"
  .ui.vertical.stripe.segment
    .ui.text.container.preface
      %h3.ui.header
        Just for you. Never be social.
      %p
        %i.quote
          "I don't want to get my own bookmarks always open to the internet."
      %p
        Sick and tired of the social network services out there?
        We get you covered! Slip.it is the 100% private, simple online bookmarking service
        exactly for guys like you.
    .ui.text.container.features
      %h3.ui.header
        Features
        %ul
          %li
            %h2
              %i.green.check.icon
              100% private, no social feature.
              .detail
                Completely free from any social networking features. Only for you.
          %li
            %h2
              %i.green.check.icon
              Bookmarklet, tagging feature.
              .detail
                Slip.it of course supports basic features for usability.
          %li
            %h2
              %i.green.check.icon
              Simple and easy.
              .detail
                Nothing complicated. No need to do the math.
    .ui.text.container.open-source
      %h3.ui.header
        Open-Source
      %p
        Slip.it is an open-source software being developed on Github. You can see all the sources of Slip.it
        and even deploy it upon your own server or any other PaaS like Heroku.
      = link_to "https://github.com/IzumiSy/slipit" do
        %h4
          %i.icon.github
          IzumiSy/slipit
    .ui.text.container.logo
      %img{ src: asset_path("logo_background.png") }/
      %h2
        Your online bookmarks never be social.
      = link_to sign_in_path, class: "ui large teal button" do
        Get Started
  .ui.inverted.vertical.footer.segment
    .ui.container.center.center.aligned
      © 2017 IzumiSy.


