.column
  %h2.ui.grey.image.header
    = image_tag asset_path("logo_small.png"), class: "image"
    .content
      Login to Slip.it
      %h5 Your online bookmarks never be social.
  - if notice
    .ui.warning.message
      .header
        = simple_format notice, {}, wrapper_tag: 'div'
  = form_for :session, url: session_path, html: { class: "ui large form" } do |f|
    .ui.stacked.segment
      .ui.field
        .ui.left.icon.input
          %i.user.icon
          = f.text_field :email, type: 'email', placeholder: "E-mail", required: true
      .ui.field
        .ui.left.icon.input
          %i.lock.icon
          = f.password_field :password, placeholder: "Password", required: true
      = f.submit "Login", class: "ui fluid large teal submit button"
  .ui.message
    New to Slip.it?
    = link_to "Sign up", sign_up_path
  .ui.password
    = link_to "Forgot your own password?", new_users_password_reset_path
  .ui.disabled.header
    %h5 © 2017 IzumiSy.
