.ui.fixed.inverted.menu
  .ui.container
    = link_to root_path, class: "header item" do
      %img.logo{src: asset_path("logo_small.png")}/
      Slip.it
      %sup
        %sup beta
    - if signed_in?
      = link_to bookmarks_path, class: "item" do
        Bookmarks
      = link_to tags_path, class: "item" do
        Tags
      .right.menu
        .item
          .ui.transparent.inverted.icon.input
            = form_for @search_bookmark, url: bookmarks_path, method: :get do |f|
              %i.search.icon
              = f.text_field :query
        .ui.simple.dropdown.item
          Preference
          %i.dropdown.icon
          .menu
            = link_to "Bookmarklet", bookmarklet_path, class: "item"
            .divider
            = link_to "About", landing_path, class: "item"
            = link_to "Logout", sign_out_path, class: "item red", method: :delete
    - else
      .ui.header.right.item.small
        = link_to "Log in", sign_in_path, class: "ui inverted button"
