.column
  %h2.ui.grey.image.header
    = image_tag "logo_small", class: "image"
    .content
      Sign up to Slip.it
  = form_for @user, html: { class: "ui large form" } do |f|
    .ui.stacked.segment
      .ui.field
        .ui.left.icon.input
          %i.user.icon
          = f.text_field :email, type: 'email', placeholder: "E-mail", required: true
      .ui.field
        .ui.left.icon.input
          %i.lock.icon
          = f.password_field :password, placeholder: "Password", required: true
      = f.submit "Sign up", class: "ui fluid large teal submit button"
    .ui.message
      Already have an account?
      = link_to "Sign in", sign_in_path
