.ui.mini.modal#new-tag-modal
  .header
    Add a new tag
  .content
    = form_for @tag do |f|
      .ui.fluid.input
        = f.text_field :name, required: true, placeholder: "Put a name of a new tag"
      = f.submit class: "ui fluid button positive", style: "margin-top: 10px;"

= render "shared/alert"
= render "shared/notice"
%h2.ui.dividing.header.title
  = "Tags (#{@user.tag_counts})"
  %button#add-tag.positive.ui.right.floated.small.button
    Add a tag
- if @tags.present?
  - @tags.each do |tag|
    = link_to tag_path(tag.id) do
      .ui.tag.large.label
        = tag.name
        .detail
          = tag.bookmark_counts
- else
  .ui.cube.shape.nobookmark-placeholder
    .sides
      .active.side
        .content
          .center
            Looks like nothing here :(
