<%=
  link_to 'Add a bookmark',
  { controller: 'bookmark', action: 'new' },
  { class: "positive ui right floated tiny button" }
%>

<h2 class="ui dividing header title">
  Bookmarks
</h2>

<% if @bookmarks.length > 0 then %>
  <!--
  <div class="ui cards">
    <%= render partial: "card", locals: {
      header: "All over the world",
      meta: "2 days ago",
      description: "Hello world guys",
      extra: "testament"
    } %>

    <%= render partial: "card", locals: {
      header: "All over the world",
      meta: "2 days ago",
      description: "Hello world guys",
      extra: "testament"
    } %>

    <%= render partial: "card", locals: {
      header: "All over the world",
      meta: "2 days ago",
      description: "Hello world guys",
      extra: "testament"
    } %>
  </div>
  -->
<% else %>
  <%= render partial: "nobookmark" %>
<% end %>

