<%= link_to bookmark.url, { class: "card", target: "_blank" } do %>
    <div class="content">
      <div class="header">
        <%= image_tag favicon(bookmark.url), class: "favicon" %>
        <%= bookmark.title %>
      </div>
      <div class="meta">
        <%= "#{distance_of_time_in_words(Time.now, bookmark.created_at)} ago" %>
      </div>
      <div class="description">
        <p><%= bookmark.description %></p>
      </div>
    </div>
    <div class="extra content">
      <%= bookmark.url %>
    </div>
<% end %>
