.card
  .content
    %i.right.floated.remove.icon
    = link_to bookmark.url, { class: "header", target: "_blank" } do
      = image_tag favicon(bookmark.url), class: "favicon"
      = bookmark.title
    .meta
      = "#{distance_of_time_in_words(Time.now, bookmark.created_at)} ago"
    .description
      %p= bookmark.description
  .extra.content
    = bookmark.url
