.ui.mini.modal{ id: "remove-modal-#{bookmark.id}" }
  .header
    Remove a bookmark
  .content
    %p Are you sure you will delete this bookmark?
  .actions
    .ui.negative.button
      No
    .ui.positive.button
      Yes

= link_to bookmark.url, { class: "bookmark-item card", target: "_blank" } do
  .content
    %i.right.floated.remove.icon{ data: { modal: bookmark.id } }
    %i.right.floated.edit.icon{ data: { link: edit_bookmark_path(bookmark.id) } }
    .header
      = image_tag favicon(bookmark.url), class: "favicon"
      = bookmark.title
    .meta
      = "#{distance_of_time_in_words(Time.now, bookmark.created_at)} ago"
    .description
      %p= bookmark.description
  .extra.content
    = bookmark.url
