.ui.relaxed.divided.list.bookmark-list
  - bookmarks.each do |bookmark|
    .item
      %i.large.middle.aligned.icon
        = image_tag favicon(bookmark.url)
      .content
        = link_to bookmark.title, bookmark.url, { class: "header ellipsis1", target: "_blank" }
        .description.ellipsis1= bookmark.description

    .ui.mini.modal{ id: "remove-modal-#{bookmark.id}" }
      .header
        Remove a bookmark
      .content
        %p Are you sure you will delete this bookmark?
      .actions
        .ui.button.negative
          No
        = link_to bookmark_path(bookmark.id), method: :delete, class: "ui positive button" do
          Yes
