<!DOCTYPE html>
<html>
<head>
  <title>SlipIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="minimal pushable">
  <%= render partial: "sidebar" %>
  <%= render partial: "toggle" %>
  <div class="pusher">
    <div class="article">
      <div class="main ui container">
        <%= yield %>
    </div>
  </div>
</body>
</html>
